.table.ldap-sync {
    border: 1px solid black;
}

.table.ldap-sync th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.table.ldap-sync {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table.ldap-sync td, .table.ldap-sync th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table.ldap-sync tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table.ldap-sync tr:hover {
    background-color: #ddd;
}

.table.ldap-sync th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}