{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LDAP Sync status{% endblock %}</title>
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'ldap_sync/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static 'ldap_sync/css/bootstrap-theme.css' %}" >
        <script type="application/javascript" src="{% static 'ldap_sync/js/jquery-2.2.4.min.js' %}"></script>
    {% endblock %}
</head>
{% block body %}
    <body>
    {% include "ldap_sync/includes/form_status.html" %}
    <table class="table table-condensed table-striped ldap-sync">
        <thead>
            <tr>
                <th scope="col">Progress</th>
                <th scope="col">Ready</th>
                <th scope="col">Failed</th>
                <th scope="col">Result</th>
            </tr>
        </thead>
        <tbody>
            <tr id="ldap-sync" >
                <td class="task-progress"></td>
                <td class="task-status"></td>
                <td class="task-failed"></td>
                <td class="task-result"></td>
            </tr>
        </tbody>
    </table>

    <script type="application/javascript">
        var ldap_sync = {
            counter: 0,
            repeat: function(s, n){
                var a = [];
                while(a.length < n){
                    a.push(s);
                }
                return a.join('');
            },
            update_progress : function(options) {
                var table = options.table != null ? options.table : $("#ldap-sync");
                var progress = table.find('.task-progress');
                progress.text(this.repeat("|", options.counter != null ?
                                               options.counter : this.counter));
                if (options.counter != null) {
                    this.counter = options.counter;
                    progress.text("");
                } else {
                    this.counter += 1;
                    if (this.counter > 20) {this.counter = 0}
                }
            },
            ajax: function () {
                var $this = this;
                $.ajax({
                    url: "{% url 'ldap-sync:status' task_id=async_result.id %}"
                }).done(function (data) {
                    var task = data.task;

                    var $tableTr = $("#ldap-sync");
                    $tableTr.find('.task-status').text(task.ready);
                    $tableTr.find('.task-failed').text(task.failed);
                    $tableTr.find('.task-result').text(task.failed ? task.traceback : task.ouput);

                    if (!task.ready) {
                        setTimeout(function () {
                            $this.update_progress.bind($this, {table: $tableTr})();
                            $this.ajax()
                        }, 500)
                    } else {
                        $this.update_progress.bind($this, {counter: 0, table: $tableTr})();
                    }
                })
            }
        };
        ldap_sync.ajax();
    </script>
    </body>
    <script type="application/javascript" src="{% static 'ldap_sync/js/bootstrap.min.js' %}"></script>
{% endblock %}
</html>