{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans 'LDAP Sync Status' %}{% endblock %}</title>
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'ldap_sync/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'ldap_sync/css/bootstrap-theme.css' %}">
        <script type="application/javascript" src="{% static 'ldap_sync/js/jquery-2.2.4.min.js' %}"></script>
    {% endblock %}
</head>
{% block body %}
<body>
    <div class="panel panel-default">
        <div class="panel-body">
            {% include "ldap_sync/includes/form_status.html" %}
        </div>
        <table class="table table-condensed table-striped ldap-sync">
            <thead>
            <tr>
                <th scope="col">{% trans 'PROGRESS' %}</th>
                <th scope="col">{% trans 'READY' %}</th>
                <th scope="col">{% trans 'FAILED' %}</th>
                <th scope="col">{% trans 'RESULT' %}</th>
            </tr>
            </thead>
            <tbody>
            <tr id="ldap-sync">
                <td class="task-progress"></td>
                <td class="task-status"></td>
                <td class="task-failed"></td>
                <td class="task-result"></td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer" id="ldap-sync-info"></div>
    </div>
    <script type="application/javascript">
        var ldap_sync = {
            counter: 0,
            init: function () {
                this.form = $("form#ldap-sync-form");
                this.button = this.form.find("button[type=submit]");
                if (this.button != null) this.button.prop('disabled', true);
                this.syncinfo = $("#ldap-sync-info");
            },
            repeat: function (s, n) {
                var a = [];
                while (a.length < n) { a.push(s); }
                return a.join('');
            },
            update_progress: function (table) {
                var progress = table.find('.task-progress');
                progress.text(this.repeat("|", this.counter));
                this.counter += 1;
                if (this.counter > 20) {this.counter = 0}
            },
            stop_progress : function(table) {
                table.find('.task-progress').text("");
                this.counter = 0;
                if (this.button != null)
                    this.button.prop('disabled', false);
            },
            update_status : function(options) {
                var $tableTr = $("#ldap-sync");
                $tableTr.find('.task-status').text(options.ready);
                $tableTr.find('.task-failed').text(options.failed);
                var result = $tableTr.find('.task-result');
                if (options.failed) {
                    result.text(options.traceback);
                    this.syncinfo.text("{% trans 'Sync failed' %}");
                } else {
                    result.text(options.output.label + ": " + options.output.user_count);
                    if (options.ready) {
                        this.syncinfo.text("{% trans 'Success' %}");
                    } else {
                        this.syncinfo.text("{% trans 'Synchronizing...' %}");
                    }
                }
                this.update_progress($tableTr);
                return $tableTr;
            },
            ajax: function () {
                var $this = this;
                $.ajax({
                    url: "{% url 'ldap-sync:status' task_id=async_result.id %}"
                }).done(function (data) {
                    var task = data.task;
                    var $tableTr = $this.update_status.bind($this, task)();
                    if (!task.ready) {
                        setTimeout(function () { $this.ajax() }, 500)
                    } else {
                        $this.stop_progress.bind($this, $tableTr)();
                    }
                }).fail(function(data, textStatus, errorThrown) {
                    var $tableTr = $this.update_status.bind($this, {
                        ready: false,
                        failed: true,
                        traceback: textStatus + ": " + (errorThrown ? errorThrown : "Internal Server Error")
                    })();
                    $this.stop_progress.bind($this, $tableTr)();
                    $this.syncinfo.text("{% trans 'Sync failed' %}");
                })
            }
        };
        ldap_sync.init();
        ldap_sync.ajax();
    </script>
    </body>
    <script type="application/javascript" src="{% static 'ldap_sync/js/bootstrap.min.js' %}"></script>
{% endblock %}
</html>