<button type="button" class="btn btn-primary" id="btn-ldap-migration" title="Migra o usuários sem conta para esta">
    <span class=""></span>
    Migração de usuários
</button>
<script type="application/javascript">
    $(function () {
        $("#btn-ldap-migration").click(function (evt) {
            var $btn = $(this),
                csrftoken = $.getCookie('csrftoken');
            if ($btn.prop("disabled")) {
                evt.preventDefault();
                evt.stopPropagation();
                return
            }
            $.ajax({
                url: "{{ ldap_migration_url }}",
                method: 'post',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    $btn.find("span").addClass("fa-spinner fa fa-spin fa-large");
                    $btn.prop("disabled", true);
                }
            }).done(function (data) {
                console.log(data)

            }).always(function (){
                setInterval(function (){
                    $btn.find("span").removeClass("fa-spinner fa fa-spin fa-large");
                    $btn.prop("disabled", false);
                }, 2000);
            });
        });
    });
</script>